p{
  text-align: center;
  color: black;
}
.new-background-color{
  --background: #5501bc;
}
img{
  color: #000;
  width: 30%;
  height: auto;
  display: block; margin-left: auto; margin-right: auto; margin-top: 20px;
}