
ion-content{
  --ion-background-color: white;
  --background: #fff;
  --ion-color:#fff;
}
ion-button {
  --background: #f3f3f3;
  --color: #c200d4;
  display: flex; -ms-flex-align: center;

}
.registro{
  background-color: white;
}